body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-align: center;
}


#tagsContainer {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.tag {
    padding: 8px;
    background-color: #f0f0f0;
    border-radius: 5px;
    cursor: pointer;
}


.review {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: #fff;
    transition: all 0.3s ease;
    border: 1px solid #ddd;
}

.review:hover {
    opacity: 0.9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.double-happiness {
    background-color: #26532B;
}

.saving-face {
    background-color: #254E70;
}
    
    
  
.halving-the-bones {
    background-color: #8E8358; 
}

.picture-bride {
    background-color: #5D2E46;
}

.in-between-days {
    background-color: #2B3D41; 
}


  